.ProfilePage{
  display: flex;
  flex-direction: column;
  align-items: flex;
  background-size: cover;
  background-color: rgb(255, 255, 255);
  background-position: center;
  width: 100vw;
  height: 100vh;
}
.FloatingCover {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  position: absolute;
  height: 40%;
  width: 80%;
  margin-left: 10% ;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  background-color: #fff;
  z-index: 1;
}
.ProfilePic{
  position: absolute;
  border-radius: 50%;
  width: 15%;
  height: 30%;
  margin-top:8%;
  right: 43%;
  z-index: 2;
}
.Details{
  position: absolute;
  right:43.5%;
  margin-top:28%;
  font-family: poppins;
}
h1{
  font-size: 23px;
}
h2{
  font-size: 16px;
}
h3{
  font-size:16px;
}
.Details h1, .Details h2, .Details h3 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
.AboutMe p{  position: absolute;
  margin-left:16%;
  margin-right:13%;
  margin-top:28%;
  font-family: poppins;
}
.SignOut{
  position: absolute;
  margin-left:85%;
  margin-top:38%;
  font-family: poppins;
  
}
.SignOut:hover{
  text-decoration: underline;
}

